<div class="container">
    <form class="text-center border border-middle p-5" action="#">
        <h1>To Do List</h1>
        <input type="text" [formControl]="todo" name="todo" class="form-control mb-4" placeholder="To Do" required>
        <button class="btn btn-info btn-block" type="button" (click)="onClick()">Add</button>
    </form>
<ul>
    <li class="lis" *ngFor="let task of list" (click) = "onCheck($event)">
        {{task.todo}}
    <span class="delete" (click)="onDelete($event)">[X]</span>
    </li>
</ul>
</div>