<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <div class="container">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="">Main</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="ToDoList">To Do List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="thirdPage">Third page</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="Registaration">Registration</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>